@import "theme-relearn-light.css";


/* here in this showcase we use our own modified chroma syntax highlightning style;
   if you want to use a predefined style instead:
   - remove `markup.highlight.noClasses` from your config.toml
   - set `markup.highlight.style` to a predefined style name in your config.toml
   - remove the following `@import` of the self-defined chroma stylesheet */

:root {
    --CODE-theme: relearn-light; 

    --INTERNAL-MENU-HEADER-BG-color: rgb(132, 81, 161);
    --INTERNAL-MENU-HEADER-color: rgb(255,255,255);
    --UU-FULL-LOGO: url("images/uu-full-logo-light.png");

    --ACCENT-2-color: rgba(130, 229, 80, 1);
    --TABLE-EVEN-ROW-BG-color: rgba(206, 205, 205, 0.3);
}