
@import "theme-relearn-dark.css";


/* here in this showcase we use our own modified chroma syntax highlightning style;
   if you want to use a predefined style instead:
   - remove `markup.highlight.noClasses` from your config.toml
   - set `markup.highlight.style` to a predefined style name in your config.toml
   - remove the following `@import` of the self-defined chroma stylesheet */

:root {
    --CODE-theme: relearn-dark; 

    --INTERNAL-MENU-HEADER-color: rgb(255,255,255);
    --INTERNAL-MENU-HEADER-BG-color: rgb(132, 81, 161);
    --INTERNAL-MAIN-TEXT-color: rgb(224, 224, 224);
    
    --PRIMARY-color: #8451a1;
    /* brand primary color for logo bg etc */
    --SECONDARY-color: rgba(108, 140, 227, 1);
    /* brand secondary color */
    --ACCENT-color: rgba(255, 68, 255, 1);
    /* brand accent color, used for search highlights */

    --ACCENT-2-color: rgba(130, 229, 80, 1);
    --ACCENT-KM-color: rgb(249, 182, 24);
    --ACCENT-KM-ORANGE-color: orange;

    --LOGO-BOTTOM-LINE-color: var(--ACCENT-2-color);
    --SUBTITLE-color: darkgray;
    --STRONG-color: var(--ACCENT-2-color);

    --UU-FULL-LOGO: url("images/uu-full-logo-dark.png");

    --TABLE-EVEN-ROW-BG-color: rgba(0, 0, 0, 0.43);
}